@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;

}
body{
    background-color: rgb(10, 128, 201);
}
/* header */
.banner{
    height: 25vh;
    text-align: center;
    background-color: black;

}
.banner img{
    height: 25vh;

}
#alert{
    position: fixed;
    color: black;
    background-color: rgb(250, 135, 4) ;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    bottom: 6rem;
    right: 5rem;
}
#Btn{
     position: fixed;
    color: black;
    background-color: rgb(250, 135, 4) ;
    right: 6rem;
    bottom: 5rem;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;

}
.msg{
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.alert{
    opacity: 1;
  transition: opacity 0.2s ease-in;

}
#alert2{
    position: fixed;
    color: black;
    background-color: rgb(250, 135, 4) ;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    top: 23rem;
    right: 5rem;

}

/* navigation bar */
.navBar{
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(250, 135, 4); */
    height: 10vh;
    overflow: hidden;
    padding-bottom: 5px;
    justify-content: center;
    /* top: 0;
    position: sticky; */
}
.navMenu{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 30px;
    flex-flow: wrap;
    list-style: none;

}
.dropDown{
    display: block;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    color: black;
}
.dropDownBtn{
    transition: transform 0.2s ease ;
}
.navItems:hover .dropDownBtn{
   transform: rotate(180deg);

}
.dropDownOptions{
    text-align:center;
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    font-size: 15px;

}
.moreOptions{
    margin-left: 5px;
    float: right;

}
.dropDownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    list-style: none;

  }
  .navItems:hover>.dropDownContent{
      display: flex;
       flex-flow: column wrap;
  }

  .dropDownContent a {
    color: black;
    padding:5px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .dropDownOptions:hover {
      background-color: rgb(250, 135, 4);
      color: blanchedalmond;
    }
    .dropDownContent1 {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 5px;
        left:174px;
        top: -1px;
        list-style: none;

    }
    .content515{
        top: 40px;

      }
      .survivalContent{
          top: 98px;
           left: 118px;
      }
      .dropDownOptions1{
        text-align:center;
        text-decoration: none;
        color: white;
        padding: 14px 20px;
        font-size: 15px;
    }
    .dropDownOptions1:hover{
        background-color: rgb(250, 135, 4);
        color: blanchedalmond;
    }
    .navItems1:hover>.dropDownContent1{
        display: flex;
       flex-flow: column wrap;

    }

/* main container */
.container{
    display: flex;
    flex-flow: column wrap;
    margin: 0 10vh 5vw 10vh ;
    padding: 20px 0px 20px 20px;
    width: 88vw;
    height: 1200vh;
    background-color: aliceblue;
    border-radius: 5px;


}
p{
    font-size: 20px;
}
.heading{
    font-size: 60px;
     margin: 20px 0px 20px 30px;
     padding-left: 30px;
}
/* links */
a{
    text-decoration: none;
    color: rgb(240, 164, 78);
    font-size: 20px;

}
/* headings */
h2{
    margin: 0px;
    padding: 10px;
    color: black;
}
h3{
    margin-left: 10px;
    margin-top: 20px;
}
.subContainer{
    height:300vh;
    width: 55vw;
}
/* subContainer1 */
#subContainer1{
    width: 55vw;
    height: 170vh;
    margin-left: 20px;

    /* border: 1px solid black; */
}

.content{
    margin-left: 3rem;
}
.attrib{
    margin-top: 20px;
    margin-left: 3rem;
    font-size: 20px;
    margin-bottom: 5rem;
}
/* subContainer2 */
#subContainer2{
    width: 55vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom right, #cc3300 0%, #ff5050 100%);
    border: 1px solid black;

}
.phyList{
    position: relative;
    left: -4rem;

    font-size: 30px;

}

.conHed{
    margin-left: 6rem;
    margin-top: 2rem;
}
.subHed{
    position: relative;
    top: -75px;
    left: 10rem;
    font-size: 23px;
}
.AttriList{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    left: 2rem;
}
.subTalents{
    margin-top: 3rem;
}
.subTalList{
     margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;
}
.subTalItems{
     font-weight: bold;
     color: blanchedalmond;
}
.talents{
    margin-top: 3rem;


}
.talentist{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;


}
.talentItem{
    font-weight: bold;
     color: blanchedalmond;

}
/* subContainer3 */
#subContainer3{
    width: 55vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(135deg, #209cff 10%, #68e0cf 100%);
    border: 1px solid black;

}
.magList{
    position: relative;
    left: -4rem;

    font-size: 30px;

}

.conHed{
    margin-left: 6rem;
    margin-top: 2rem;
}
.subHed{
    position: relative;
    top: -75px;
    left: 10rem;
    font-size: 23px;
}
.AttriList{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    left: 2rem;
}
.subTalents{
    margin-top: 3rem;
}
.subTalList{
     margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;
}
.subTalItems{
     font-weight: bold;
     color: blanchedalmond;
}
.talents{
    margin-top: 3rem;


}
.talentist{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;


}
.talentItem{
    font-weight: bold;
     color: blanchedalmond;

}
/* subContainer4 */
#subContainer4{
    width: 55vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(135deg, #c79081 10%, #dfa579 100%);
    border: 1px solid black;

}
.tankList{
    position: relative;
    left: -4rem;

    font-size: 30px;

}

.conHed{
    margin-left: 6rem;
    margin-top: 2rem;
}
.subHed{
    position: relative;
    top: -75px;
    left: 10rem;
    font-size: 23px;
}
.AttriList{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    left: 2rem;
}
.subTalents{
    margin-top: 3rem;
}
.subTalList{
     margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;
}
.subTalItems{
     font-weight: bold;
     color: blanchedalmond;
}
.talents{
    margin-top: 3rem;


}
.talentist{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;

}
.talentItem{
    font-weight: bold;
     color: blanchedalmond;

}
/* subContainer5 */
#subContainer5{
    width: 55vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(135deg, #9be15d 10%, #00e3ae 100%);
    border: 1px solid black;

}
.jungList{
    position: relative;
    left: -4rem;

    font-size: 30px;

}

.conHed{
    margin-left: 6rem;
    margin-top: 2rem;
}
.subHed{
    position: relative;
    top: -75px;
    left: 10rem;
    font-size: 23px;
}
.AttriList{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    left: 2rem;
}
.subTalents{
    margin-top: 3rem;
}
.subTalList{
     margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;
}
.subTalItems{
     font-weight: bold;
     color: blanchedalmond;
}
.talents{
    margin-top: 3rem;


}
.talentist{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;


}
.talentItem{
    font-weight: bold;
     color: blanchedalmond;

}
/* subContainer6 */
#subContainer6{
    width: 55vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(135deg, #FF7AF5 10%, #513162 100%);
    border: 1px solid black;

}
#subContainer5{
    width: 55vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(135deg, #9be15d 10%, #00e3ae 100%);
    border: 1px solid black;

}
.assinList{
    position: relative;
    left: -4rem;

    font-size: 30px;

}

.conHed{
    margin-left: 6rem;
    margin-top: 2rem;
}
.subHed{
    position: relative;
    top: -75px;
    left: 10rem;
    font-size: 23px;
}
.AttriList{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    left: 2rem;
}
.subTalents{
    margin-top: 3rem;
}
.subTalList{
     margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;
}
.subTalItems{
     font-weight: bold;
     color: blanchedalmond;
}
.talents{
    margin-top: 3rem;


}
.talentist{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;



}
.talentItem{
    font-weight: bold;
     color: blanchedalmond;

}
/* subContainer7 */
#subContainer7{
    width: 55vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(135deg, #6B73FF 10%, #000DFF 100%);
    border: 1px solid black;

}
.mageList{
    position: relative;
    left: -4rem;

    font-size: 30px;

}

.conHed{
    margin-left: 6rem;
    margin-top: 2rem;
}
.subHed{
    position: relative;
    top: -75px;
    left: 10rem;
    font-size: 23px;
}
.AttriList{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    left: 2rem;
}
.subTalents{
    margin-top: 3rem;
}
.subTalList{
     margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;
}
.subTalItems{
     font-weight: bold;
     color: blanchedalmond;
}
.talents{
    margin-top: 3rem;


}
.talentist{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;


}
.talentItem{
    font-weight: bold;
     color: blanchedalmond;

}
/* subContainer8 */
#subContainer8{
    width: 55vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(135deg, #ff0844 10%, #ffb199 100%);
    border: 1px solid black;

}

.fighList{
    position: relative;
    left: -4rem;

    font-size: 30px;

}

.conHed{
    margin-left: 6rem;
    margin-top: 2rem;
}
.subHed{
    position: relative;
    top: -75px;
    left: 10rem;
    font-size: 23px;
}
.AttriList{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    left: 2rem;
}
.subTalents{
    margin-top: 3rem;
}
.subTalList{
     margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;
}
.subTalItems{
     font-weight: bold;
     color: blanchedalmond;
}
.talents{
    margin-top: 3rem;


}
.talentist{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;



}
.talentItem{
    font-weight: bold;
     color: blanchedalmond;

}
/* subContainer9 */
#subContainer9{
    width: 55vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(135deg, #ffe259 10%, #ffa751 100%);
    border: 1px solid black;

}
.markList{
    position: relative;
    left: -4rem;

    font-size: 30px;

}

.conHed{
    margin-left: 6rem;
    margin-top: 2rem;
}
.subHed{
    position: relative;
    top: -75px;
    left: 10rem;
    font-size: 23px;
}
.AttriList{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    left: 2rem;
}
.subTalents{
    margin-top: 3rem;
}
.subTalList{
     margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;
}
.subTalItems{
     font-weight: bold;
     color: blanchedalmond;
}
.talents{
    margin-top: 3rem;


}
.talentist{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;



}
.talentItem{
    font-weight: bold;
     color: blanchedalmond;

}
/* subContainer10 */
#subContainer10{
    width: 55vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%);
    border: 1px solid black;

}

.supList{
    position: relative;
    left: -4rem;

    font-size: 30px;

}

.conHed{
    margin-left: 6rem;
    margin-top: 2rem;
}
.subHed{
    position: relative;
    top: -75px;
    left: 10rem;
    font-size: 23px;
}
.AttriList{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    left: 2rem;
}
.subTalents{
    margin-top: 3rem;
}
.subTalList{
     margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;
}
.subTalItems{
     font-weight: bold;
     color: blanchedalmond;
}
.talents{
    margin-top: 3rem;


}
.talentist{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;



}
.talentItem{
    font-weight: bold;
     color: blanchedalmond;

}

/* subContainer11 */
#subContainer11{
    margin-left: 2px;
    height: 1200vh;
    width: 20vw;

    background-color: rgb(197, 195, 195);
    padding: 5px;
}
.navPage{
    display: flex;
    flex-flow: wrap column;
    position: sticky;
    top: 87.5px;
    justify-content: center;
    align-content: center;

}
.navPage a{
    color: black;
    font-weight: bold;
    margin-bottom: 10px;

}
